@import "../../assets/styles/variables.scss";
.form {
    margin: 0px;
    &__label {
        margin: 10px 20px 0px 15px;
        font-family: 'montserrat';
    }
    &__input {
        margin: 10px 20px 0px 15px;
        width: 240px;
        height: 40px;
        border-radius: 5px;
        border: 1px solid $color-grey;
        padding-left: 15px;
    }
	& .errorMsg {
		margin: 0px 0px 0px 15px;
		color: red;
	}
}

.skillBox__form-submit-button {
    margin: 20px 0px 20px 15px;
	width: 80px;
}

.skillBox {
	margin: 50px 0px 0px 0px;
	position: relative;
	&__header {
		font-family: "montserrat";
		color: $color-green;
		margin: 0px 0px 50px 0px;
		display: inline;
	}
	&__form {
		position: relative;
		// height: 250px;
		border: 1px $color-green solid;
		margin: 50px 0px 20px 0px;
		animation: plainForm 1s;
        overflow: hidden;
	}

	&__section {
		// max-height: 500px;
        
		margin: 50px 0px 0px 0px;
	}
	&__editBtn {
		position: absolute;
		right: 0px;
		top: 0px;
	}
	& .form-hidden {
		display: none;
	}
    & .skill {
        margin: 0px 0px 5px 0px;
        background-color: $color-green;
        color: white;
		font-family: "montserrat";
        height: 30px;
        padding: 5px 5px;
        box-sizing: border-box;
    }
}
@keyframes plainForm {
    from {
        height: 0px;
    }
    to {
        height: 200px;
    }
}

.scale {
    margin: 25px 0px 0px 0px;
	border: 1px solid $color-grey;
	height: 1px;
	background-color: $color-grey;
	position: relative;
}
.beginner {
	position: absolute;
	bottom: 0px;
	border: 1px solid $color-grey;
	width: 1px;
	height: 10px;
	background-color: $color-grey;
}
.beginner p {
	font-family: "montserrat";
	color: $color-grey;
}
.proficient {
	position: absolute;
	bottom: 0px;
	left: 200px;
	border: 1px solid $color-grey;
	width: 1px;
	height: 10px;
	background-color: $color-grey;
	margin: 0px 150px 0px 0px;
}
.proficient p {
	font-family: "montserrat";
	position: absolute;
	color: $color-grey;
	left: -30px;
}
.expert {
	position: absolute;
	bottom: 0px;
	right: 200px;
	border: 1px solid $color-grey;
	width: 1px;
	height: 10px;
	background-color: $color-grey;
}
.expert p {
	font-family: "montserrat";
	color: $color-grey;
	position: absolute;
	right: -23px;
}
.master {
	position: absolute;
	bottom: 0px;
	right: 0px;
	border: 1px solid $color-grey;
	width: 1px;
	height: 10px;
	background-color: $color-grey;
}
.master p {
	font-family: "montserrat";
	position: absolute;
	right: 0px;
	color: $color-grey;
}
